@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#browser {
	-moz-box-ordinal-group: 0 !important;
	padding-top: 8px;
}

/* hide titlebar buttons */
#TabsToolbar > .titlebar-buttonbox-container {
	display: none !important;
}